body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-right: floor(($gutter / 2));
    padding-left: ceil(($gutter / 2));
}
