$_mainColor: cadetblue;

body {
    // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1.4;
}

.hero {
    height: 400px;
    background-color: $_mainColor;
    text-align: center;
    padding: 50px;
    color: #fff;
    margin-bottom: 30px;

    .row {
        height: 100%;
    }

    h1 {
        font-size: 80px;
        line-height: 1;
        font-weight: 300;
        margin: 0 0 20px 0;
    }

    .lead {
        font-size: 22px;
        line-height: 28px;
        max-width: 600px;
        margin: auto;
    }
}

.container {
    max-width: 1200px;
    margin: auto;

    h1 {
        font-size: 38px;
        font-weight: 300;
        border-bottom: 2px solid #333;
        margin-right: 50%;
        margin-top: 50px;
    }

    h2 {
        font-size: 28px;
        margin: 15px 0;
    }

    p {
        margin: 0 0 15px 0;
    }
}

hr {
    width: 50%;
    margin: 25px 0;
    border: 0;
    border-top: 1px solid #333;
}


pre {
    display: block;
    padding: 15px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #fafafa;
    border: 1px solid #bbb;

    .comment {
        color: #bbb;
    }

    .var {
        color: $_mainColor;
    }
}

code {
    &.inline {
        // background-color: #fafafa;
        // border: 1px solid #bbb;
        padding: 2px;
        color: $_mainColor;
    }
}

[class*='col-'] {
    .inner {
        min-height: 30px;
        color: #fff;
        background-color: $_mainColor;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.reordered {
            background-color: darken($_mainColor, 20%);
        }
    }
}

.nesting {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fafafa;
    border: 1px solid #bbb;

    .row {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #eee;
        border: 1px solid #999;
    }

    .inner {
        margin: 0;
    }
}
