// =======================
// container
// =======================
.container {
    @each $breakpoint, $val in $breakpoints {
        @if $val == '' {
            @include calc-column-gutter('padding', $breakpoint);
        }
        @else {
            @media (min-width: #{$val}) {
                @include calc-column-gutter('padding', $breakpoint);
            }
        }
    }
}

// =======================
// wrapper for columns
// =======================
.row {
    @include grid-row();

    // gutter margins
    &:not(.no-gutter) {
        @include grid-row-gutter-margins();
    }

    //
    // directions
    //
    &.reverse {
        flex-direction: row-reverse;
    }

    &.vertical {
        flex-direction: column;
    }

    &.vertical-reverse {
        flex-direction: column-reverse;
    }

    //
    // gutter modifications
    //
    &.no-gutter-row,
    &.no-gutter {
        margin-right: 0;
        margin-left: 0;
    }
}

// =======================
// columns
// =======================
$list: '';

@each $breakpoint, $val in $breakpoints {
    @if $val == '' {
        @for $i from 1 through $grid-columns {
            $list: append($list, '.col-#{$i},', comma);
        }
    }

    @for $i from 1 through $grid-columns {
        $list: append($list, '.col-#{$breakpoint}-#{$i},', comma);
    }
}

$list: remove-nth($list, 1);

//
// common styles
//
#{$list},
.col-auto {
    @include make-grid-columns();

    // remove gutter
    .row.no-gutter & {
        padding: 0;
    }
}

//
// grid for each screen breakpoint
//
@each $breakpoint, $val in $breakpoints {
    @if $val == '' {
        @include loop-breakpoints($breakpoint);
    }
    @else {
        @media (min-width: #{$val}) {
            @include loop-breakpoints($breakpoint);
        }
    }
}
