// /**
//  * Base style and gutter for columns
//  */
@mixin make-grid-columns($_gutter: true) {
    flex: 1 0 auto;

    @if ($_gutter == true) {
        @each $breakpoint, $val in $breakpoints {
            @if $val == '' {
                @include calc-column-gutter('padding', $breakpoint);
            }
            @else {
                @media (min-width: #{$val}) {
                    @include calc-column-gutter('padding', $breakpoint);
                }
            }
        }
    }
}

// /**
//  * Calculate gutter width
//  * @param  $property    Property to apply the value
//  * @param  $breakpoint
//  * @param  $abs         [1, -1] Whether the $property value is positive or negative
//  */
@mixin calc-column-gutter($property, $breakpoint, $abs: 1, $divisible: true) {
    @if (map-has-key($gutter-map, $breakpoint)) {
        @if ($divisible == true) {
            #{$property}-right: floor(((map-get($gutter-map, #{$breakpoint}) * $abs) / 2)) + px;
            #{$property}-left: ceil(((map-get($gutter-map, #{$breakpoint}) * $abs) / 2)) + px;
        }
        @else {
            #{$property}-right: floor(((map-get($gutter-map, #{$breakpoint}) * $abs))) + px;
            #{$property}-left: ceil(((map-get($gutter-map, #{$breakpoint}) * $abs))) + px;
        }
    }
}

// /**
//  * Calculate properties for each column
//  * @param $breakpoint
//  * @param $type [width, offset] Property name
//  */
@mixin calc-grid-column($_breakpoint: $first-breakpoint-key, $_type: 'width', $_grid-columns: $grid-columns) {
    @for $i from 1 through $_grid-columns {
        // width
        @if ($_type == 'width') {
            // first breakpoint: avoid specifying column breakpoint
            @if ($first-breakpoint-key == $_breakpoint) {
                .col-#{$i} {
                    flex-basis: percentage($i / $_grid-columns);
                    max-width: percentage($i / $_grid-columns);
                }
            }

            // regular breakpoint columns
            .col-#{$_breakpoint}-#{$i} {
                flex-basis: percentage($i / $_grid-columns);
                max-width: percentage($i / $_grid-columns);
            }
        }

        // offsets
        @if ($_type == 'offset') {
            @if ($first-breakpoint-key == $_breakpoint) {
                .col-offset-#{$i} {
                    margin-left: percentage($i / $_grid-columns);
                }
            }

            .col-#{$_breakpoint}-offset-#{$i} {
                margin-left: percentage($i / $_grid-columns);
            }
        }
    }

    // for col-auto we don't need the $_grid-columns count
    @if ($_type == 'width') {
        // first breakpoint: avoid specifying column breakpoint
        @if ($first-breakpoint-key == $_breakpoint) {
            .col-auto {
                flex: 1 0 auto;
            }
        }

        // regular breakpoint columns
        .col-#{$_breakpoint}-auto {
            flex: 1 0 auto;
        }
    }
}

// /**
//  * Mixin to avoid code duplication, once it is used with and
//  * without media queries
//  */
@mixin loop-breakpoints($breakpoint) {
    //
    // width
    //
    @include calc-grid-column($breakpoint);

    //
    // offset
    //
    @include calc-grid-column($breakpoint, 'offset');

    //
    // order
    //
    @if $breakpoint == $first-breakpoint-key {
        .col-first { order: -1; }
        .col-last { order: 1; }
    }
    @else {
        .col-#{$breakpoint}-first { order: -1; }
        .col-#{$breakpoint}-last { order: 1; }
    }

    //
    // alignments
    //
    @if $breakpoint == $first-breakpoint-key {
        .align-start {
            justify-content: flex-start;
            &.align-text { text-align: start; }
        }
        .align-center {
            justify-content: center;
            &.align-text { text-align: center; }
        }
        .align-end {
            justify-content: flex-end;
            &.align-text { text-align: end; }
        }

        .align-top { align-items: flex-start; }
        .align-middle { align-items: center; }
        .align-bottom { align-items: flex-end; }

        .stretch {
            align-items: stretch;

            > [class*="col"] {
                display: flex;
            }
        }
    }
    @else {
        .align-start-#{$breakpoint} {
            justify-content: flex-start;
            &.align-text { text-align: start; }
        }
        .align-center-#{$breakpoint} {
            justify-content: center;
            &.align-text { text-align: center; }
        }
        .align-end-#{$breakpoint} {
            justify-content: flex-end;
            &.align-text { text-align: end; }
        }

        .align-top-#{$breakpoint} { align-items: flex-start; }
        .align-middle-#{$breakpoint} { align-items: center; }
        .align-bottom-#{$breakpoint} { align-items: flex-end; }

        .stretch-#{$breakpoint} {
            align-items: stretch;

            > [class*="col"] {
                display: flex;
            }
        }
    }

    //
    // self alignments
    //
    @if $breakpoint == $first-breakpoint-key {
        .align-self-top {
            align-self: flex-start;
        }

        .align-self-middle {
            align-self: center;
        }

        .align-self-bottom {
            align-self: flex-end;
        }

        .self-stretch {
            display: flex;
            align-self: stretch;
        }
    }
    @else {
        .align-self-top-#{$breakpoint} {
            align-self: flex-start;
        }

        .align-self-middle-#{$breakpoint} {
            align-self: center;
        }

        .align-self-bottom-#{$breakpoint} {
            align-self: flex-end;
        }

        .self-stretch-#{$breakpoint} {
            display: flex;
            align-self: stretch;
        }
    }

    //
    // distribute
    //
    @if $breakpoint == $first-breakpoint-key {
        .space-around {
            justify-content: space-around;
        }

        .space-between {
            justify-content: space-between;
        }
    }
    @else {
        .space-around-#{$breakpoint} {
            justify-content: space-around;
        }

        .space-between-#{$breakpoint} {
            justify-content: space-between;
        }
    }
}

// /**
//  * Semantic row
//  */
@mixin grid-row($_gutter: true) {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    // gutter margins
    @if ($_gutter == true) {
        @include grid-row-gutter-margins();
    }
}

// /**
//  * Semantic row margins
//  */
@mixin grid-row-gutter-margins() {
    // gutter margins
    @each $breakpoint, $val in $breakpoints {
        @if $val == '' {
            @include calc-column-gutter('margin', $breakpoint, -1);
        }
        @else {
            @media (min-width: #{$val}) {
                @include calc-column-gutter('margin', $breakpoint, -1);
            }
        }
    }
}

// /**
//  * Semantic columns
//  */
@mixin grid-column($col_count, $_gutter: true, $grid-columns: $grid-columns) {
    @include make-grid-columns($_gutter);

    // parse number
    @if type-of($col_count) == 'number' {
       flex-basis: percentage($col_count / $grid-columns);
       max-width: percentage($col_count / $grid-columns);
    }

    // parse "n of n"
    @else if type-of($col_count) == 'list' {
        @if length($col_count) != 3 {
            @error 'Wrong. Use the format "n of n".';
        }
        @else {
            flex-basis: percentage(nth($col_count, 1) / nth($col_count, 3));
            max-width: percentage(nth($col_count, 1) / nth($col_count, 3));
        }
    }
}

// /**
//  * Removing list value at nth index
//  * @param  {list} $list  List to remove the item
//  * @param  {list} $index Index for the item to be removed
//  * @return {list}        List with the item removed
//  */
@function remove-nth($list, $index) {
    $result: null;

    @if type-of($index) != number {
        @warn "$index: #{quote($index)} is not a number for `remove-nth`.";
    }

    @else if $index == 0 {
        @warn "List index 0 must be a non-zero integer for `remove-nth`.";
    }

    @else if abs($index) > length($list) {
        @warn "List index is #{$index} but list is only #{length($list)} item long for `remove-nth`.";
    }

    @else {
        $result: ();
        $index: if($index < 0, length($list) + $index + 1, $index);

        @for $i from 1 through length($list) {
            @if $i != $index {
                $result: append($result, nth($list, $i));
            }
        }
    }

    @return $result;
}

