// how many columns in the grid
$grid-columns: 12 !default;

// screen breakpoints
$breakpoints: (
    xxs: '',
    xs: '640px',
    sm: '768px',
    md: '992px',
    lg: '1200px',
    xl: '1600px'
);

// utilities variables for easy access
$breakpoint-keys: map-keys($breakpoints);
$first-breakpoint-key: nth($breakpoint-keys, 1);

// different gutters by screen breakpoint
$gutter-map: (
    xxs: 10,
    sm:  30
);
