// how many columns in the grid
$grid-columns: 12 !default;

// screen breakpoints
$breakpoints: (
    xxs: '',
    xs: '640px',
    sm: '768px',
    md: '992px',
    lg: '1200px',
    xl: '1600px'
);

// different gutters by screen breakpoint
$gutterMap: (
    xxs: 10,
    xs:  10,
    sm:  30,
    md:  30,
    lg:  30,
    xl:  30
);

// helper vars for each gutter
$gutter_xxs: map-get($gutterMap, xxs);
$gutter_xs : map-get($gutterMap, xs);
$gutter_sm : map-get($gutterMap, sm);
$gutter_md : map-get($gutterMap, md);
$gutter_lg : map-get($gutterMap, lg);
$gutter_xl : map-get($gutterMap, xl);
